:root{
    --main-secundary-color: #7CFC00;
    --main-primary-font: 'Arvo', serif;
}

.section{
    margin: 0% 7% 7% 7% ;
}

#header-links{
    color: #292929;
    text-decoration: none ; 
    font-family: var(--main-primary-font);
    margin-left: 2%;
    font-size: 120%;
    border-bottom: 0.25em solid var(--main-secundary-color);
    padding: 0em 0.3em 0em 0.3em;

}

#header-links:hover{
    color: #292929;
    background-color: #7CFC00;

}

#header-links-traductor{
    color: #DCDCDC;
    text-decoration: none ; 
    font-family: var(--main-primary-font);
    margin-left: 2%;
    font-size: 100%;
    padding: 0em 0.3em 0em 0.3em;

}

#header-links-traductor:hover{
    color: #292929;
    background-color: #7CFC00;

}



#header-name{
    text-align: right;
    margin-top: 1%;
}

#h1-title {  
    font-family: var(--main-primary-font);
    font-size: 600%;
    margin: 3% 0% 0% 0%;
    color: #292929;
    text-decoration: underline var(--main-secundary-color);
}

#container-button-and-text{
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    margin-top: 2%
}

#button-getcv{
    font-size: 20px;
    font-family: var(--main-primary-font);
    width: 60%;
    padding: 1%;
    border: 8px solid var(--main-secundary-color);
    border-radius: 0.3em;
    color: #292929;
    
}
#h2-title-position{ 
    margin-bottom: 0%;
    margin-top: 0%;
    color: #292929;
    font-size: 150%;
    margin-left: 40%;
    text-align: left;
    font-family: var(--main-primary-font);

}


#p-text{
    text-align: justify;
    font-family: var(--main-primary-font);
    color: #292929;
    line-height: 190%;
    font-size: 15px;
    margin: 1% 0% 0% 40% ;
}

#header-icon-position{
    display: flex;
    align-items:flex-end;
    flex-direction: row-reverse;   
}

#header-icon{
    margin-top: 5%;
    font-size: 65px;
    color: #292929;
}
